header {
  grid-area: header;
  text-align: center;
  background-color: #72a1e5;
}
main {
  grid-area: main;
  background-color: #5c73f2;
  text-align: justify;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #102bc2;
  color: antiquewhite;
}
aside {
  grid-area: aside;
  color: aliceblue;
  background-color: #273270;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  color: #fffdd0;
  display: grid;
  align-content: space-around;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
.historia_okrety {
  display: flex;
  /* flex-basis: 50%; */
}
figure {
  width: 50%;
}
figure > img {
  width: 100%;
}
.historia_okrety > p {
  width: 50%;
}

img:hover {
  box-shadow: 3px 3px black;
  transform: scale(2.0);
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
  }

  aside {
    grid-column: 1;
  }
}