@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  background-color: #72a1e5;
}

main {
  background-color: #5c73f2;
  text-align: justify;
  padding: 2em;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #102bc2;
  color: antiquewhite;
  width: 100%;
}

aside {
  color: aliceblue;
  background-color: #273270;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: row;
  height: auto;
}

.historia_okrety {
  display: flex;
}

img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

figure {
  width: 100%;
}

figure > img {
  width: 100%;
}
img:hover {
  box-shadow: 3px 3px black;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  aside {
    width: 100%;
  }

  main {
    max-width: 100%;
  }
}
