header {
  grid-area: header;
  text-align: center;
  background-color: #72a1e5;
}
main {
  grid-area: main;
  background-color: #5c73f2;
  text-align: justify;
  padding: 1em;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #102bc2;
}
aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #273270;
}
img {
  width: 100%;
  border-radius: 1em;
}
.container {
  color: #fffdd0;
  display: grid;
  align-content: space-around;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
footer > figure {
  width: 33%;
}
