header {
  grid-area: header;
  text-align: center;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
img {
  width: 100%;
  border-radius: 20%;
}
.container {
  display: grid;
  align-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header header'
    'main aside aside'
    'footer footer footer';
  background-color: cadetblue;
}
