header {
  grid-area: header;
  text-align: center;
  background-color: #72a1e5;
}
main {
  grid-area: main;
  background-color: #5c73f2;
  text-align: justify;
  padding: 1em;
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: #102bc2;
}
aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: #273270;
}
img {
  width: 100%;
  border-radius: 1em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.container {
  color: #fffdd0;
  display: grid;
  align-content: space-around;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'header header'
    'main aside'
    'footer footer';
}
footer > figure {
  width: 33%;
}
img:hover {
  box-shadow: 3px 3px black;
  transform: scale(1.1);
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main'
      'aside'
      'footer';
  }

  aside {
    grid-column: 1;
  }
}